
<style>
    main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    gap: 30px;
}

main>div{
    width: 300px;
    height: 300px;
   border: solid 2px;
    margin-bottom: 10%;
}

img{
    width: 300px;
    height: 300px;
}
</style>

<main>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
</main>
<br>
<br>
<main>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
    <div><img src="../../assets/Images/h1.jpg" alt=""></div>
</main>
